# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# ===============================
# Virtual Environment
# ===============================
venv/
.env

# ===============================
# Streamlit
# ===============================
.streamlit/

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# FAISS / Cache / Models
# ===============================
*.faiss
*.pkl
.cache/

# ===============================
# Logs
# ===============================
*.log
